<div class="flex p-5" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-3">
    <li class="inline-flex items-center">
      <h2 class="font-medium text-gray-700 hover:text-gray-900">
        My Activity
      </h2>
    </li>
  </ol>
</div>
  <%= render "layouts/components/date_change"%>
</div>